{% extends "base.html" %}
{% block content %}
<h1>Bienvenido a mi sitio</h1>
<p>Este es el inicio.</p>

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="https://gmpg.org/xfn/11">
    <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />
    <style>
        img:is([sizes="auto" i], [sizes^="auto," i]) {
            contain-intrinsic-size: 3000px 1500px
        }
    </style>

    </header>
    <div id="content" class="site-content">
        <div class="ast-container">
            <div data-elementor-type="wp-page" data-elementor-id="2" class="elementor elementor-2"
                data-elementor-post-type="page">
                <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-5a488fb2 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-id="5a488fb2" data-element_type="section"
                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="elementor-background-overlay"></div>
                    <div class="elementor-container elementor-column-gap-no">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2d47a498"
                            data-id="2d47a498" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-2c56783c elementor-widget elementor-widget-heading"
                                    data-id="2c56783c" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h1 class="elementor-heading-title elementor-size-default">¿Buscas un Coach?
                                        </h1>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-339ec939 elementor-widget elementor-widget-heading"
                                    data-id="339ec939" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">Servicios de Coaching
                                            Personal/Profesional</h2>
                                        <h2 class="elementor-heading-title elementor-size-default">Online y presencial
                                        </h2>
                                    </div>
                                </div>
                                <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-6f4b3280 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                                    data-id="6f4b3280" data-element_type="section">
                                    <div class="elementor-container elementor-column-gap-default">
                                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-39304994"
                                            data-id="39304994" data-element_type="column">
                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                <div class="elementor-element elementor-element-536163eb elementor-widget elementor-widget-text-editor"
                                                    data-id="536163eb" data-element_type="widget"
                                                    data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <p>Si estás buscando un coach esta plataforma web, para que
                                                            puedas conectar
                                                            con tu coach, a tu medida, profesional, cualificado y con
                                                            garantías.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-63021d6a"
                                            data-id="63021d6a" data-element_type="column">
                                            <div class="elementor-widget-wrap">
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-7d5a6f00 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                                    data-id="7d5a6f00" data-element_type="section">
                                    <div class="elementor-container elementor-column-gap-default">
                                        <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-7a85e74f"
                                            data-id="7a85e74f" data-element_type="column">
                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                <div class="elementor-element elementor-element-6ee69b8f elementor-blockquote--skin-border elementor-widget elementor-widget-blockquote"
                                                    data-id="6ee69b8f" data-element_type="widget"
                                                    data-widget_type="blockquote.default">
                                                    <div class="elementor-widget-container">
                                                        <blockquote class="elementor-blockquote">
                                                            <p class="elementor-blockquote__content">
                                                                Avanza en compañía </p>
                                                        </blockquote>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </section>
                <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-5550de4a elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-id="5550de4a" data-element_type="section"
                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-355e8a17"
                            data-id="355e8a17" data-element_type="column"
                            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-ca967f3 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-id="ca967f3" data-element_type="section">
                                    <div class="elementor-container elementor-column-gap-no">
                                        <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-e07adf3"
                                            data-id="e07adf3" data-element_type="column">
                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                <div class="elementor-element elementor-element-9f1b4e7 elementor-widget elementor-widget-heading"
                                                    data-id="9f1b4e7" data-element_type="widget"
                                                    data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h2 class="elementor-heading-title elementor-size-default">Elige
                                                            a tu Coach</h2>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-22bc261d elementor-widget elementor-widget-spacer"
                                                    data-id="22bc261d" data-element_type="widget"
                                                    data-widget_type="spacer.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-spacer">
                                                            <div class="elementor-spacer-inner"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-5b336c25 elementor-widget elementor-widget-heading"
                                                    data-id="5b336c25" data-element_type="widget"
                                                    data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h3 class="elementor-heading-title elementor-size-default">¿Cómo
                                                            quieres que avancemos contigo?</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-7a75b479"
                                            data-id="7a75b479" data-element_type="column">
                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                <div class="elementor-element elementor-element-4d7a22ec elementor-align-center elementor-widget elementor-widget-button"
                                                    data-id="4d7a22ec" data-element_type="widget"
                                                    data-widget_type="button.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-button-wrapper">
                                                            <a
                                                                class="elementor-button elementor-button-link elementor-size-md">
                                                                <span class="elementor-button-content-wrapper">
                                                                    <span class="elementor-button-text">¿Qué tipo de
                                                                        coaching estás buscando?</span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-ab33931"
                                            data-id="ab33931" data-element_type="column">
                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                <div class="elementor-element elementor-element-6ede5ab elementor-align-center elementor-widget elementor-widget-button"
                                                    data-id="6ede5ab" data-element_type="widget"
                                                    data-widget_type="button.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-button-wrapper">
                                                            <a
                                                                class="elementor-button elementor-button-link elementor-size-md">
                                                                <span class="elementor-button-content-wrapper">
                                                                    <span class="elementor-button-text">Conoce a
                                                                        nuestr@s Coaches</span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-d6b40e5"
                                            data-id="d6b40e5" data-element_type="column">
                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                <div class="elementor-element elementor-element-280fd8d elementor-align-center elementor-widget elementor-widget-button"
                                                    data-id="280fd8d" data-element_type="widget"
                                                    data-widget_type="button.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-button-wrapper">
                                                            <a
                                                                class="elementor-button elementor-button-link elementor-size-md">
                                                                <span class="elementor-button-content-wrapper">
                                                                    <span class="elementor-button-text">Te orientamos,
                                                                        solicita asesoramiento</span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </section>
                <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-201a0a82 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-id="201a0a82" data-element_type="section"
                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="elementor-background-overlay"></div>
                    <div class="elementor-container elementor-column-gap-no">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-755e733a"
                            data-id="755e733a" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-68bf5e11 elementor-widget elementor-widget-heading"
                                    data-id="68bf5e11" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">¿Qué es un Coach?
                                        </h2>
                                    </div>
                                </div>
                                <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-7b5c2ce3 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-id="7b5c2ce3" data-element_type="section">
                                    <div class="elementor-container elementor-column-gap-default">
                                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-1352b8e2"
                                            data-id="1352b8e2" data-element_type="column">
                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                <div class="elementor-element elementor-element-28b83567 elementor-widget elementor-widget-heading"
                                                    data-id="28b83567" data-element_type="widget"
                                                    data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h3 class="elementor-heading-title elementor-size-default">Un
                                                            coach personal es un profesional que: </h3>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-9d09362 elementor-widget elementor-widget-text-editor"
                                                    data-id="9d09362" data-element_type="widget"
                                                    data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <ul>
                                                            <li>Te acompaña en el propósito de lograr tus objetivos y
                                                                metas personales.</li>
                                                            <li>Te desafía a través de la reflexión y el descubrimiento.
                                                            </li>
                                                            <li>Potencia la mejor versión de ti mismo/a en aquello en lo
                                                                que decides enfocarte.</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-12008358"
                                            data-id="12008358" data-element_type="column">
                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                <div class="elementor-element elementor-element-6b3be5d9 elementor-widget elementor-widget-heading"
                                                    data-id="6b3be5d9" data-element_type="widget"
                                                    data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h3 class="elementor-heading-title elementor-size-default">En el
                                                            coaching tu eres el protagonista y el experto en tu
                                                            desarrollo profesional y de
                                                            vida. </h3>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-38f28010 elementor-widget elementor-widget-text-editor"
                                                    data-id="38f28010" data-element_type="widget"
                                                    data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <p>El Coach respeta en profundidad esta realidad y actúa en
                                                            consecuencia, honrando tus valores, creencias, recursos,
                                                            impedimentos, etc., colaborando contigo en decidir y
                                                            comprometerte con la mejor acción.</p>
                                                        <p>Para ello pone a tu disposición innovadoras tecnologías en el
                                                            conocimiento de la naturaleza humana – PNL y DBM®.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </section>
                <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-2b3a248 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-id="2b3a248" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-4e423483"
                            data-id="4e423483" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-1faa9534 elementor-widget elementor-widget-image"
                                    data-id="1faa9534" data-element_type="widget" data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-element elementor-element-6351ae8f elementor-widget elementor-widget-spacer"
                                            data-id="6351ae8f" data-element_type="widget"
                                            data-widget_type="spacer.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-spacer">
                                                    <div class="elementor-spacer-inner"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-3d3e0700"
                                    data-id="3d3e0700" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-6be60310 elementor-widget elementor-widget-heading"
                                            data-id="6be60310" data-element_type="widget"
                                            data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <h2 class="elementor-heading-title elementor-size-default">¿Cuáles
                                                    son los
                                                    Beneficios del Coaching?</h2>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-209427a4 elementor-widget elementor-widget-text-editor"
                                            data-id="209427a4" data-element_type="widget"
                                            data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                <p>Un proceso de coaching ofrece numerosos beneficios.
                                                </p>
                                                <p>Te ayuda a definir con precisión tus metas y objetivos, te aporta
                                                    mayor
                                                    flexibilidad y adaptabilidad con el cambio, te ayuda a mejorar
                                                    tus
                                                    relaciones interpersonales, te proporciona autoconocimiento y
                                                    empoderamiento
                                                    personal.</p>
                                                <p>Te aporta bienestar y motivación para emprender, ir un poco más
                                                    allá de donde
                                                    estás y sentir que te desarrollas como persona y como
                                                    profesional, en la
                                                    dirección que tu deseas.</p>
                                                <p>Activa tu creatividad invitándote a disfrutar de aquello en lo
                                                    que te
                                                    involucras.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </section>
                <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-4f375e17 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-id="4f375e17" data-element_type="section"
                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="elementor-background-overlay"></div>
                    <div class="elementor-container elementor-column-gap-no">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7271525"
                            data-id="7271525" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-260255e7 elementor-widget elementor-widget-heading"
                                    data-id="260255e7" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">¿Cómo son las
                                            Sesiones de coaching?</h2>
                                    </div>
                                </div>
                                <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-2a769ba7 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-id="2a769ba7" data-element_type="section">
                                    <div class="elementor-container elementor-column-gap-default">
                                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-79006494"
                                            data-id="79006494" data-element_type="column">
                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                <div class="elementor-element elementor-element-6cfd7381 elementor-widget elementor-widget-text-editor"
                                                    data-id="6cfd7381" data-element_type="widget"
                                                    data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <p>Una<strong> sesión de coaching.... </strong> .....</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-3dd72194"
                                            data-id="3dd72194" data-element_type="column">
                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                <div class="elementor-element elementor-element-6907bb06 elementor-widget elementor-widget-text-editor"
                                                    data-id="6907bb06" data-element_type="widget"
                                                    data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <p>Estas sesiones pueden ser:</p>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-3f45871d elementor-widget elementor-widget-heading"
                                                    data-id="3f45871d" data-element_type="widget"
                                                    data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h3 class="elementor-heading-title elementor-size-default">
                                                            Sesiones de coaching presencial</h3>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-2aae3735 elementor-widget elementor-widget-text-editor"
                                                    data-id="2aae3735" data-element_type="widget"
                                                    data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <p>Sesiones de coaching en .... de
                                                            forma presencial.</p>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-33739883 elementor-widget elementor-widget-heading"
                                                    data-id="33739883" data-element_type="widget"
                                                    data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h3 class="elementor-heading-title elementor-size-default">
                                                            Sesiones de coaching personal online</h3>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-4445206 elementor-widget elementor-widget-text-editor"
                                                    data-id="4445206" data-element_type="widget"
                                                    data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <p>Sesiones de coaching desde cualquier lugar del mundo de habla
                                                            hispana y inglés.</p>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-9dfc2ff elementor-align-center elementor-widget elementor-widget-button"
                                                    data-id="9dfc2ff" data-element_type="widget"
                                                    data-widget_type="button.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-button-wrapper">
                                                            <a class="elementor-button elementor-button-link elementor-size-md"
                                                                href=" ">
                                                                <span class="elementor-button-content-wrapper">
                                                                    <span class="elementor-button-text">Más información
                                                                        sobre las Sesiones de Coaching</span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </section>
                <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-1c526425 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-id="1c526425" data-element_type="section"
                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="elementor-container elementor-column-gap-no">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-25714605"
                            data-id="25714605" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-1a8f8e2e elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-id="1a8f8e2e" data-element_type="section">
                                    <div class="elementor-container elementor-column-gap-default">
                                        <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-3a68412d"
                                            data-id="3a68412d" data-element_type="column"
                                            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                <div class="elementor-element elementor-element-275b54b3 elementor-view-default elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box"
                                                    data-id="275b54b3" data-element_type="widget"
                                                    data-widget_type="icon-box.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-icon-box-wrapper">

                                                            <div class="elementor-icon-box-icon">
                                                                <span class="elementor-icon">
                                                                    <i aria-hidden="true" class="fas fa-male"></i>
                                                                </span>
                                                            </div>

                                                            <div class="elementor-icon-box-content">

                                                                <h3 class="elementor-icon-box-title">
                                                                    <span>
                                                                        ¿Te has planteado un cambio interno para ti o tu
                                                                        carrera? </span>
                                                                </h3>


                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-a6e2552"
                                            data-id="a6e2552" data-element_type="column"
                                            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                <div class="elementor-element elementor-element-1ed918ce elementor-view-default elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box"
                                                    data-id="1ed918ce" data-element_type="widget"
                                                    data-widget_type="icon-box.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-icon-box-wrapper">

                                                            <div class="elementor-icon-box-icon">
                                                                <a href=" " class="elementor-icon" tabindex="-1"
                                                                    aria-label="Echa un vistazo a nuestas &lt;strong&gt;áreas de coaching&lt;/strong&gt;">
                                                                    <i aria-hidden="true" class="fas fa-server"></i>
                                                                </a>
                                                            </div>

                                                            <div class="elementor-icon-box-content">

                                                                <h3 class="elementor-icon-box-title">
                                                                    <a href=" ">
                                                                        Echa un vistazo a nuestas <strong>áreas de
                                                                            coaching</strong> </a>
                                                                </h3>


                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-46f56b89"
                                            data-id="46f56b89" data-element_type="column"
                                            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                <div class="elementor-element elementor-element-1bb5e127 elementor-view-default elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box"
                                                    data-id="1bb5e127" data-element_type="widget"
                                                    data-widget_type="icon-box.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-icon-box-wrapper">

                                                            <div class="elementor-icon-box-icon">
                                                                <a href=" " class="elementor-icon" tabindex="-1"
                                                                    aria-label="Encuentra a &lt;strong&gt;tu coach especializado&lt;/strong&gt; y y ponte en contacto">
                                                                    <i aria-hidden="true" class="fas fa-users"></i> </a>
                                                            </div>

                                                            <div class="elementor-icon-box-content">

                                                                <h3 class="elementor-icon-box-title">
                                                                    <a href=" ">
                                                                        Encuentra a <strong>tu coach
                                                                            especializado</strong> y y ponte en contacto
                                                                    </a>
                                                                </h3>


                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-4fbea501"
                                            data-id="4fbea501" data-element_type="column"
                                            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                <div class="elementor-element elementor-element-4b78bb8e elementor-view-default elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box"
                                                    data-id="4b78bb8e" data-element_type="widget"
                                                    data-widget_type="icon-box.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-icon-box-wrapper">

                                                            <div class="elementor-icon-box-icon">
                                                                <span class="elementor-icon">
                                                                    <i aria-hidden="true" class="fas fa-map-signs"></i>
                                                                </span>
                                                            </div>

                                                            <div class="elementor-icon-box-content">

                                                                <h3 class="elementor-icon-box-title">
                                                                    <span>
                                                                        Comienza tu transformación con nosotr@s </span>
                                                                </h3>


                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <div class="elementor-element elementor-element-469c742 elementor-widget elementor-widget-heading"
                                    data-id="469c742" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h6 class="elementor-heading-title elementor-size-default">Tu Coach
                                        </h6>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-2da95749 elementor-widget elementor-widget-heading"
                                    data-id="2da95749" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">¿Qué te aporta el
                                            Coaching?</h2>
                                    </div>
                                </div>
                                <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-47ee4db1 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-id="47ee4db1" data-element_type="section">
                                    <div class="elementor-container elementor-column-gap-no">
                                        <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-591fb58b"
                                            data-id="591fb58b" data-element_type="column"
                                            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                <div class="elementor-element elementor-element-22906b0e elementor-widget elementor-widget-image"
                                                    data-id="29eef68" data-element_type="widget"
                                                    data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h3 class="elementor-heading-title elementor-size-default">
                                                            Beneficio principal del Coaching</h3>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-6eedb0f4 elementor-widget elementor-widget-text-editor"
                                                    data-id="6eedb0f4" data-element_type="widget"
                                                    data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <ul>
                                                            <li>Escucharte y entenderte a ti.</li>
                                                            <li>Comprender tu mundo emocional.</li>
                                                            <li>Aprender a gestionar tus conflictos internos.</li>
                                                            <li>Percibir por ti mismo/a, de manera clara, el valor de
                                                                quién tu eres.</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-f0438fb"
                                            data-id="f0438fb" data-element_type="column"
                                            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                <div class="elementor-element elementor-element-6226111f elementor-widget elementor-widget-image"
                                                    data-id="6226111f" data-element_type="widget"
                                                    data-widget_type="image.default">

                                                </div>
                                                <div class="elementor-element elementor-element-30e3ead2 elementor-widget elementor-widget-heading"
                                                    data-id="30e3ead2" data-element_type="widget"
                                                    data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h3 class="elementor-heading-title elementor-size-default">
                                                            Aprender a entender a los demás en su realidad</h3>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-5a2cf2a1 elementor-widget elementor-widget-text-editor"
                                                    data-id="5a2cf2a1" data-element_type="widget"
                                                    data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <ul>
                                                            <li>Elegir el tipo de respuesta que quieres tener.</li>
                                                            <li>Equilibrar tus emociones en relación con las emociones
                                                                de los demás.</li>
                                                            <li>Hallarte a ti en quién eres, en conexión con los demás.
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-834782e"
                                            data-id="834782e" data-element_type="column"
                                            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                <div class="elementor-element elementor-element-7bc5c08 elementor-widget elementor-widget-image"
                                                    
                                                        data-id="3e3a286c" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h3 class="elementor-heading-title elementor-size-default">
                                                                Aprender a ejercer la influencia que deseas de acuerdo
                                                                con
                                                                tus valores</h3>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-726af5e3 elementor-widget elementor-widget-text-editor"
                                                        data-id="726af5e3" data-element_type="widget"
                                                        data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <ul>
                                                                <li>Adquirir herramientas de comunicación y liderazgo.
                                                                </li>
                                                                <li>Crear y participar en equipos motivados.</li>
                                                                <li>Ser una fuente de inspiración para que otros puedan
                                                                    expresar su potencial.</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </section>
                                
</html>

{% endblock %}